<html>

<head>
    <meta charset="UTF-8">
    <title>Property Manager</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="node_modules/angular-material-data-table/dist/md-data-table.css">
    <link href="/app/icons.css" rel="stylesheet" type="text/css"/>
    <!-- 1. Load libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>


    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <!-- 2. Load our 'modules' -->
    <script src='app/app.component.js'></script>
    <script src='app/dialogtemplateControllers.js'></script>
    <script src='app/translations.js' charset="UTF-8"></script>

    <style>
        .md-datepicker-input-container {
            width: 250px;
        }

        .md-datepicker-input {
            min-width: 250px;
            max-width: 400px
        }
    </style>
</head>

<!-- 3. Display the application -->
<body ng-app="PropertyManager" ng-cloak>
<md-toolbar class="md-warn md-hue-3">
    <div class="md-toolbar-tools">
        <div ng-controller="PaymentController" class="md-padding" id="popupContainer" ng-cloak>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Ενέργειες Ακινήτων
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="ConnectPropertyAndTenant($event)"
                                       translate="PROP_TENANT" aria-label="Connect Property to Tenant">
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="DisconnectPropertyAndTenant($event)"
                                       translate="DEL_PROP_TENANT" aria-label="Disconnect Property from Tenant">
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <div flex></div>

        <div ng-controller="LanguageSwitchController">
            <md-button class="md-raised" aria-label="GREEK" ng-click="changeLanguage('el')"
                       translate="BUTTON_LANG_GR"></md-button>
            <md-button class="md-raised" aria-label="ENGLISH" ng-click="changeLanguage('en')"
                       translate="BUTTON_LANG_EN"></md-button>
        </div>
    </div>
</md-toolbar>

<div ng-controller="PropertyController" ng-cloak>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
        <div class="md-toolbar-tools">
            <h2 class="md-title" translate="PROPERTY"></h2>

            <div flex></div>
            <md-button class="md-fab md-mini" ng-click="showProperty($event)">
                <i class="material-icons">add</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-toolbar-tools alternate md-hue-3" ng-show="selected.length">
        <div class="md-toolbar-tools" layout-align="space-between">
            <div>{{selected.length}} {{selected.length > 1 ? 'Εγγραφές' : 'Εγγραφή'}} στο σύνολο</div>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="edit($event)">
                <i class="material-icons">mode_edit</i>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-click="delete($event)">
                <i class="material-icons">delete</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select ng-model="selected">
            <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
            <tr>
                <th md-column md-order-by="streetname">
                    <span class="md-dark" translate="STREETNAME"></span>
                </th>
                <th md-column md-numeric md-order-by="streetnumber">
                    <span class="icons md-dark" translate="STREETNUMBER"></span>
                </th>
                <th md-column md-numeric md-order-by="area">
                    <span class="md-dark" translate="AREA"></span>
                </th>
                <th md-column name="Περιγραφή" md-order-by="description">
                    <span class="md-dark" translate="DESCRIPTION"></span>
                </th>
                <th md-column md-order-by="floor">
                    <span class="md-dark" translate="FLOOR"></span>
                </th>
                <th md-column numeric unit="%" md-order-by="percentage">
                    <span class="md-dark" translate="PERCENTAGE"></span>
                </th>
                <th md-column md-order-by="constructionDate">
                    <span class="md-dark" translate="CONSTRUCTIONDATE"></span>
                </th>
                <th md-column md-order-by="last_name">
                    <span class="md-dark" translate="TENANT"></span>
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="property" md-auto-select ng-repeat="property in properties">
                <td md-cell>{{property.streetname}}</td>
                <td md-cell>{{property.streetnumber}}</td>
                <td md-cell>{{property.area}}</td>
                <td md-cell>{{property.description}}</td>
                <td md-cell>{{property.floor}}</td>
                <td md-cell>{{property.percentage}}</td>
                <td md-cell>{{property.constructionDate}}</td>
                <td md-cell>{{property.first_name}} {{property.last_name}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{properties.total}}"
                         md-on-paginate="onPaginate" md-page-select></md-table-pagination>
</div>

<div ng-controller="TenantController" ng-cloak>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
        <div class="md-toolbar-tools">
            <h2 class="md-title" translate="TENANT"></h2>

            <div flex></div>
            <md-button class="md-fab md-mini" ng-click="showTenant($event)">
                <i class="material-icons">add</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-toolbar-tools alternate md-hue-3" ng-show="selected.length">
        <div class="md-toolbar-tools" layout-align="space-between">
            <div>{{selected.length}} {{selected.length > 1 ? 'Εγγραφές' : 'Εγγραφή'}} στο σύνολο</div>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="edit($event)">
                <i class="material-icons">mode_edit</i>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-click="delete($event)">
                <i class="material-icons">delete</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select ng-model="selected">
            <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
            <tr>
                <th md-column name="Επίθετο" md-order-by="last_name">
                    <span class="md-dark" translate="LASTNAME"></span>
                </th>
                <th md-column name="Όνομα" md-order-by="first_name">
                    <span class="md-dark" translate="FIRSTNAME"></span>
                </th>
                <th md-column name="ΑΦΜ" md-order-by="afm">
                    <span class="md-dark" translate="AFM"></span>
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="tenant" md-auto-select ng-repeat="tenant in tenants">
                <td md-cell>{{tenant.last_name}}</td>
                <td md-cell>{{tenant.first_name}}</td>
                <td md-cell>{{tenant.afm}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{tenants.total}}"
                         md-on-paginate="onPaginate" md-page-select></md-table-pagination>
</div>

<div ng-controller="PaymentController" ng-cloak>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
        <div class="md-toolbar-tools">
            <h2 class="md-title" translate="PAYMENT"></h2>

            <div flex></div>
            <md-button class="md-fab md-mini" ng-click="showPayment($event)">
                <i class="material-icons">add</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-toolbar-tools alternate md-hue-3" ng-show="selected.length">
        <div class="md-toolbar-tools" layout-align="space-between">
            <div>{{selected.length}} {{selected.length > 1 ? 'Εγγραφές' : 'Εγγραφή'}} στο σύνολο</div>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="edit($event)">
                <i class="material-icons">mode_edit</i>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-click="delete($event)">
                <i class="material-icons">delete</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select ng-model="selected">
            <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
            <tr>
                <th md-column name="Ποσό" md-order-by="amount">
                    <span class="md-dark" translate="AMOUNT"></span>
                </th>
                <th md-column name="Ημερομηνία Πληρωμής" md-order-by="pay_date">
                    <span class="md-dark" translate="PAYDATE"></span>
                </th>
                <th md-column numeric name="Μήνας" md-order-by="month_id">
                    <span class="md-dark" translate="MONTH"></span>
                </th>
                <th md-column name="Οδός" md-order-by="streetname">
                    <span class="md-dark" translate="STREETNAME"></span>
                </th>
                <th md-column numeric name="Αριθμός" md-order-by="streetnumber">
                    <span class="md-dark" translate="STREETNUMBER"></span>
                </th>
                <th md-column name="Όνομα" md-order-by="first_name">
                    <span class="md-dark" translate="FIRSTNAME"></span>
                </th>
                <th md-column name="Επίθετο" md-order-by="last_name">
                    <span class="md-dark" translate="LASTNAME"></span>
                </th>

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="payment" md-auto-select ng-repeat="payment in payments">
                <td md-cell>{{payment.amount}}</td>
                <td md-cell>{{payment.pay_date}}</td>
                <td md-cell>{{payment.name}}</td>
                <td md-cell>{{payment.streetname}}</td>
                <td md-cell>{{payment.streetnumber}}</td>
                <td md-cell>{{payment.first_name}}</td>
                <td md-cell>{{payment.last_name}}</td>

            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{tenants.total}}"
                         md-on-paginate="onPaginate" md-page-select></md-table-pagination>
</div>
</body>

</html>