<html>

<head>
    <meta charset="UTF-8">
    <title>Property Manager</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="node_modules/angular-material-data-table/dist/md-data-table.css">
    <!-- 1. Load libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.js"></script>


    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <!-- 2. Load our 'modules' -->
    <script src='app/app.component.js'></script>
    <script src='app/dialogControllers.js'></script>
    <script src='app/translations.js' charset="UTF-8"></script>

<style>
    .md-datepicker-input-container {
        width: 250px;
    }
    .md-datepicker-input {
        min-width: 250px;
        max-width: 400px
    }
</style>
</head>

<!-- 3. Display the application -->
<body ng-app="PropertyManager" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div ng-controller="PaymentController" class="md-padding" id="popupContainer" ng-cloak>
            <md-button class="md-raised md-warn" ng-click="ConnectPropertyAndTenant($event)" translate="PROP_TENANT"></md-button>
            </div>
            <span flex></span>
            <div ng-controller="LanguageSwitchController">
            <md-button class="md-raised" ng-click="changeLanguage('el')" translate="BUTTON_LANG_GR"></md-button>
            <md-button class="md-raised" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></md-button>
            </div>
        </div>
    </md-toolbar>

    <div ng-controller="PropertyController" ng-cloak>
    <md-data-table-toolbar ng-hide="selected.length">
        <h2 class="md-title">Ακίνητα</h2>
        <div flex></div>
        <md-button class="md-raised md-primary" ng-click="showProperty($event)">
            <i class="material-icons md-dark" translate="NEW_PROPERTY"></i>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="selected.length" layout-align="space-between">
        <div>{{selected.length}} {{selected.length > 1 ? 'Εγγραφές' : 'Εγγραφή'}} στο σύνολο</div>
        <section layout="row" layout-sm="column" layout-align="right" layout-wrap>
        <md-button class="md-raised" ng-click="edit($event)" translate="UPDATE">
        </md-button>
        <md-button class="md-raised md-warn" ng-click="delete($event)" translate="DELETE">
        </md-button>
        </section>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred" class="md-primary">
            <thead md-order="query.order" md-trigger="onOrderChange">
            <tr>
                <th name="Οδός" order-by="streetname"></th>
                <th numeric name="Αριθμός" order-by="streetnumber"></th>
                <th numeric name="Εμβαδόν" unit="m2" order-by="area"></th>
                <th name="Περιγραφή" order-by="description"></th>
                <th name="Όροφος" order-by="floor"></th>
                <th numeric name="Ποσοστό" unit="%" order-by="percentage"></th>
                <th name="Ημερομηνία Κατασκευής" order-by="constructionDate"></th>
                <th name="Ενοικιαστής" order-by="last_name"></th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="property in properties">
                <td>{{property.streetname}}</td>
                <td>{{property.streetnumber}}</td>
                <td>{{property.area | number: 1}}</td>
                <td>{{property.description}}</td>
                <td>{{property.floor | number: 1}}</td>
                <td>{{property.percentage}}</td>
                <td>{{property.percenconstructionDatetage}}</td>
                <td show-unit>{{property.first_name}} {{property.last_name}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{properties.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
</div>
<div ng-controller="TenantController" ng-cloak>

    <md-data-table-toolbar ng-hide="selected.length">
        <h2 class="md-title">Ενοικιαστές</h2>
        <div flex></div>
        <md-button class="md-raised md-primary" ng-click="showTenant($event)">
            <i class="material-icons md-dark">ΝΕΟΣ ΕΝΟΙΚΙΑΣΤΗΣ</i>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="selected.length" layout-align="space-between">
        <div>{{selected.length}} {{selected.length > 1 ? 'Εγγραφές' : 'Εγγραφή'}} στο σύνολο</div>
        <section layout="row" layout-sm="column" layout-align="right" layout-wrap>
            <md-button class="md-raised" ng-click="edit($event)" translate="UPDATE">
            </md-button>
            <md-button class="md-raised md-warn" ng-click="delete($event)" translate="DELETE">
            </md-button>
        </section>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
            <tr>
                <th name="Επίθετο" order-by="last_name"></th>
                <th name="Όνομα" order-by="first_name"></th>
                <th numeric name="ΑΦΜ" order-by="afm"></th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="tenant in tenants">
                <td>{{tenant.last_name}}</td>
                <td>{{tenant.first_name}}</td>
                <td>{{tenant.afm}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{tenants.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
</div>

<div ng-controller="PaymentController" ng-cloak>

    <md-data-table-toolbar ng-hide="selected.length">
        <h2 class="md-title">Πληρωμές</h2>
        <div flex></div>
        <md-button class="md-raised md-primary" ng-click="showPayment($event)">
            <i class="material-icons md-dark">ΝΕΑ ΠΛΗΡΩΜΗ</i>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="selected.length" layout-align="space-between">
        <div>{{selected.length}} {{selected.length > 1 ? 'Εγγραφές' : 'Εγγραφή'}} στο σύνολο</div>
        <section layout="row" layout-sm="column" layout-align="right" layout-wrap>
            <md-button class="md-raised" ng-click="answer('OK')" translate="UPDATE">
            </md-button>
            </md-button>
        </section>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
            <tr>
                <th name="Ποσό" order-by="amount"></th>
                <th name="Ημερομηνία Πληρωμής" order-by="payDate"></th>
                <th numeric name="Μήνας" order-by="monthId"></th>
                <th numeric name="Οδός" order-by="streetname"></th>
                <th numeric name="Αριθμός" order-by="streetnumber"></th>
                <th numeric name="Όνομα" order-by="first_name"></th>
                <th numeric name="Επίθετο" order-by="last_name"></th>

            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="payment in payments">
                <td>{{payment.amount}}</td>
                <td>{{payment.payDate}}</td>
                <td>{{payment.monthId}}</td>
                <td>{{payment.streetname}}</td>
                <td>{{payment.streetnumber}}</td>
                <td>{{payment.first_name}}</td>
                <td>{{payment.last_name}}</td>

            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{tenants.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
</div>
</body>

</html>