<form name="userForm">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>Ποσό</label>
                <input ng-model="payment.amount">
            </md-input-container>
            <md-input-container>
                <label>Ημερομηνία πληρωμής</label>
                <input ng-model="payment.paydate">
            </md-input-container>
        </div>
    </md-content>
    <md-content layout-padding>
        <div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Μήνας</label>
                <md-select ng-model="payment.month">
                    <md-option ng-repeat="month in months" value="{{month.name}}">
                        {{month.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
</form>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="answer('OK')">
        OK
    </md-button>
    <md-button class="md-raised md-warn" ng-click="answer('CANCEL')" style="margin-right:20px;">
        ΑΚΥΡΩΣΗ
    </md-button>
</md-dialog-actions>
</md-content>
