<form name="userForm">
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>Όνομα</label>
                <input ng-model="tenant.first_name" required>
            </md-input-container>
            <md-input-container>
                <label>Επίθετο</label>
                <input ng-model="tenant.last_name" required>
            </md-input-container>
        </div>
    </md-content>
    <md-content layout-padding>
        <div>
            <md-input-container class="md-block">
                <label>ΑΦΜ</label>
                <input ng-model="tenant.afm">
            </md-input-container>
        </div>
    </md-content>
</form>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="answer('TENANT')">
        OK
    </md-button>
    <md-button class="md-raised md-warn" ng-click="answer('CANCEL')" style="margin-right:20px;">
        ΑΚΥΡΩΣΗ
    </md-button>
</md-dialog-actions>
</md-content>